<template name="aboutus">
<div class="full-page-photo">
	<img src="images/aboutus.jpg" class="img-responsive"></img>
	<div class="jumbotron">
		<h1>We are passionate about what we do</h1>
		<p>... and have a great time doing it!</p>
	</div>
</div>
<div class="full-page-content">
	<div class="container">
		<h1>About Us</h1>
		<p>MeteorHQ is about delivering amazing apps which scale
			beautifully. We have embraced meteor and node.js as the future of web
			app development; with unparalleled development efficiency, advanced
			real-time features, and optimised performance. We reject the track
			record of IT projects and have proven that large budgets, large
			teams, and deadline overruns are not required to deliver complex
			projects.</p>
		<hr />
		<div class="row">
			<div class="col-md-8">
				<p>
				    After years of developing web apps the hard way, continuously
					re-inventing the wheel in Rails, Django, Java, .Net, and PHP
					I was inspired. Single-page JavaScript apps provide
					the most responsive and fluid interface for users but they are very
					time consuming to develop. There is no other choice in the browser, JavaScript
					must be used. After being very skeptical for a while I have been fully converted
					to using JavaScript on the server as well. If you also use a JSON document data
					store such as MongoDB the efficiency savings are incredible, providing a direct
					line from database to user, making app development a breeze. Combine this with
					the scalability of non-blocking I/O and there is no contest.
				</p>
				<div class="row">
				    <div class="col-md-6">
				        <p>
				        Then along came <a href="http://www.meteor.com" target="_blank">meteor</a>. Meteor
				        is a web app framework which takes care of a lot of the work for you. With meteor
				        you can basically code as if the database was available in the browser, and do
				        not need to develop a verbose service api for standard data operations. Great!
				        It offers a lot more. These data sources are reactive so if any changes are made
				        to the database, all subscribed clients are updated automatically. This is how
				        you can get real-time apps out of the box! At first I thought that meteor was
				        not production ready, but after coding and testing numerous awesome apps I realised
				        that the time has come.
				        </p>
				    </div>
				    <div class="col-md-6">
				        <p>
				        I have spent ages working as a Java/C++ developer in the horribly inefficient
				        Australian IT industry. Don't get me wrong, I worked on some great, exciting projects,
				        at times developing fantastic innovative new algorithms. However I got frustrated.
				        A talented team of 1-4 is far more effective and can achieve a great deal more than
				        a bloated juggernaut of 20-30. I saw far too many projects eat up far to many 
				        millions while not delivering much. Hence I started Gator Logic, doing a bit of everything.
				        A focus on the development and optimisation of web applications with
				        the choice of the meteor framework led to MeteorHQ!
				        </p>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
			    <blockquote>
			    <p>Random tinkering is the path to success. And fortunately, we are increasingly learning to practice it without knowing it–thanks to overconfident entrepreneurs, naive investors, greedy investment bankers, confused scientists and aggressive venture capitalists brought together by the free-market system.
                </p>
                <p>
                We need more tinkering: Uninhibited, aggressive, proud tinkering. We need to make our own luck. We can be scared and worried about the future, or we can look at it as a collection of happy surprises that lie outside the path of our imagination. </p>
			    </p>
			    <small>Nassim Nicholas Taleb</small>
			    </blockquote>
			</div>
		</div>
		<div class="centered team-heading">
		    <i class="icon-sun icon-4x brand-primary"></i>
		    <h2>Our tiny team really packs a punch</h2>
		    <h3>More members are on their way through our grueling selection process!</h3>
		</div>
		<div class="row team">
		    <div class="col-md-3 col-md-offset-3">
		        <div class="white-card">
		            <img src="images/eden.jpg" class="img-responsive"></img>
		            <h3>Eden Duthie</h3>
		            <h4>Founder / Engineer</h4>
		            <p>Eden has a background in Mathematics, a Masters in Distributed Systems,
		            and a great deal of experience in software engineering. When he is not planning projects or tinkering
		            with JavaScript he can be found in the ocean or going to a Bruce Springsteen concert.
		        </div>
		    </div>
		    <div class="col-md-3">
		        <div class="white-card">
		            <img src="images/noperson.png" class="img-responsive"></img>
		            <h3>Kim-Vu Salamonsen</h3>
		            <h4>Graphic Designer</h4>
		            <p><a href="http://kim-vu.com">Kim</a> is a talented Graphic Designer
		            based at her home studio in Kangaroo Point, Brisbane. When she is not experimenting
		            with fantastic colour and font combinations she is designing clothes!</p>
		        </div>
		    </div>
		</div>
	</div>
	{{>footer}}
</div>
</template>