<template name="home">

<div id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<div class="container">
				<div class="jumbotron">
					<div class="row-fluid">
						<div class="col-lg-6">
							<h1>Incredible real-time web apps - real fast</h1>
							<p>Meteor HQ specialises in the development of real-time web
								apps.</p>
							<p>
								<a class="btn btn-primary btn-large" href="/services">Find Out More &raquo;</a>
							</p>
						</div>
						<div class="col-lg-6">
							<img src="images/meteor_web.jpg" class="img-responsive"></img>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--
        <div class="item">
            <div class="container">
            <div class="jumbotron">
                <div class="row-fluid">
                    <div class="col-lg-6">
		                <h1>Meteor Marketplace</h1>
		                <p>Like Atmosphere but with cash! Buy and sell smart packages.</p>
		                <p><a class="btn btn-primary btn-large">Check it Out &raquo;</a></p>
		            </div>
		            <div class="col-lg-6">
		                <img src="images/marketplace.jpg" class="img-responsive"></img>
		            </div>
		        </div>
		    </div>
		    </div>
        </div>
        -->
		<div class="item">
			<div class="container">
				<div class="jumbotron">
					<div class="row-fluid">
						<div class="col-lg-6">
							<h1>Our process will transform your business</h1>
							<p>Turn your ideas into reality faster than you thought
								possible.</p>
							<p>
								<a class="btn btn-primary btn-large">Read About Our Method
									&raquo;</a>
							</p>
						</div>
						<div class="col-lg-6">
							<img src="images/process.jpg" class="img-responsive"></img>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
		class="glyphicon glyphicon-chevron-left"></span></a> <a
		class="right carousel-control" href="#myCarousel" data-slide="next"><span
		class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<section class="darker-section">
	<div class="container">
		<div class="row-fluid">
			<div class="col-lg-4 centered">
			    <i class="icon-file icon-6x"></i>
				<!--<img src="images/file_icon.png"></img> -->
				<h2>Web App Design</h2>
				<p>Meteor HQ is a boutique web app development company focused
					on changing the way our clients think about the web. Our apps are
					business-driven, user-focused, and highly innovative.</p>
			</div>
			<div class="col-lg-4 centered">
			    <i class="icon-cloud icon-6x"></i>
				<!-- <img src="images/monitor_icon.png" class="img-responsive"></img> -->
				<h2>All Devices</h2>
				<p>We believe that web apps should perform brilliantly on all
					devices big and small. We build responsive apps from the ground up
					which can be used by all your customers, wherever, whenever.</p>
			</div>
			<div class="col-lg-4 centered">
				<!-- <img src="images/cog_icon.png" class="img-responsive"></img>-->
				<i class="icon-cog icon-6x"></i>
				<h2>Robust and Fast</h2>
				<p>Remember click frenzy? Ever tried booking on ticketmaster? We
					are experts in building high performance apps which don't crash
					under load. Your users will never be slowed down and you can tackle
					global markets!
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="section-header">Our Work</h2>
		<row-fluid>
		<div class="col-lg-3">
			<div class='white-card'>
				<img src="images/super_chat.jpg" class="img-responsive"></img>
				<h3>Super Chat</h3>
				<p>Chat seems to be made for meteor with it's real-time updates.
					We are building an incredible chat component which can be
					incorporated into any meteor site.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div class='white-card'>
				<img src="images/ladybub.jpg" class="img-responsive"></img>
				<h3>Ladybub</h3>
				<p>We developed a complete e-commerce solution for Ladybub,
					selling products for mums and babies. Ladybub was hugely
					successfull and was aquired in record time by COTD.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div class='white-card'>
				<img src="images/kaggle.jpg" class="img-responsive"></img>
				<h3>Kaggle</h3>
				<p>We were the initial developers of the amazing Kaggle
					platform. Kaggle achives unparalleled results in the realm of big
					data by hosting competitions for thousands of statisticians.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div class='white-card'>
				<img src="images/bom.jpg" class="img-responsive"></img>
				<h3>Bureau of Meteorology</h3>
				<p>Do you ever use the rain radar? We developed algorithms which
					merge radar data with rain gauge measurements to produce optimised
					radar maps.
			</div>
		</div>
		</row-fluid>
	</div>
</section>

<section class="stripped">
	<div class="container">
		<h2 class="section-header">Our Tools</h2>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/html5.png" class="img-responsive" title="html5"></img>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/css3.png" class="img-responsive" title="css3"></img>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/bootstrap.png" class="img-responsive"
					title="twitter bootstrap"></img>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/meteor.jpg" class="img-responsive" title="meteor"></img>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/nodejs.png" class="img-responsive" title="nodejs"></img>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="white-card">
				<img src="images/mongodb.png" class="img-responsive" title="mongodb"></img>
			</div>
		</div>
	</div>
</section>
{{>footer}}
</template>