<template name="services">
<div class="full-page-photo">
    <img src="images/services.jpg" class="img-responsive"></img>
    <div class="jumbotron">
        <h1>We build amazing web applications which respond to changes as they happen.</h1>
        <p>Robust, fast and secure; welcome to the real-time web with MeteorHQ.
    </div>
</div>
<div class="full-page-content">

<div class="container">
    <div class="row-fluid">
        <h1 class="dotted-underline col-lg-12">Our Services</h1>
    </div>
    <div class="row-fluid">
        <div class="col-lg-7">
            <h2 class="full-underline">The real-time web</h2>
            <p>We all use real-time web apps everyday such as facebok, twitter, google docs,
            chat applications, etc... Building apps like these is not easy! This is 
            where MeteorHQ comes in, providing the expertise in collaborative, interactive,
            robust, and secure real-time updates. We use tools such as Meteor which enable us
            to rapidly develop incredible apps with advanced dynamic features in a lot less
            time than you may think. 
            </p>
            <p>
            This extra responsiveness will make your business stand out from the crowd and
            could be that edge that you are looking for!
            </p> 
        </div>
    </div>
</div>

{{>footer}}
</div>
</template>