<template name="services">
<div class="full-page-photo">
	<img src="images/services.jpg" class="img-responsive"></img>
	<div class="jumbotron">
		<h1>We build amazing web applications which respond to changes as
			they happen.</h1>
		<p>Robust, fast and secure; welcome to the real-time web with
			MeteorHQ.
	</div>
</div>
<div class="full-page-content">

	<div class="container services">
		<div class="row">
			<h1 class="dotted-underline col-md-12">Our Services</h1>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h2 class="full-underline">The real-time web</h2>
				<p>We all use real-time web apps everyday such as facebok,
					twitter, google docs, chat applications, etc... Building apps like
					these is not easy! This is where MeteorHQ comes in, providing the
					expertise in collaborative, interactive, robust, and secure
					real-time updates. We use tools such as Meteor which enable us to
					rapidly develop incredible apps with advanced dynamic features in a
					lot less time than you may think.</p>
				<p>This extra responsiveness will make your business stand out
					from the crowd and could be that edge that you are looking for!</p>
			</div>
			<div class="col-md-4 col-md-offset-1 shadow-boxing">
				<img src="images/social_apps.png" class="img-responsive"></img>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 shadow-boxing">
				<img src="images/our_approach.jpg" class="img-responsive"></img>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<h2 class="full-underline">Our Approach</h2>
				<p>MeteorHQ firmly believes that great software only comes from
					a tight fit between the developer and business. We operate as a
					creative and technical partner in your organisation, from
					brainstorming innovative ideas to long-term maintenance of
					delivered applications.</p>
			</div>
		</div>
		<div class="row dotted-border">
			<div class="centered">
				<button type="button" class="btn btn-default btn-lg">Start
					the Conversation</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h2 class="full-underline">Launch, marketing, and beyond</h2>
				<p>We also offer services which assist you with all aspects of
					launching a new app such as search engine marketing, social media
					campaigns, and more.</p>
				<p>
					We re-engineer web apps from the ground up to optimise your reach.
					Our apps are single-paged but conform to <a
						href="https://developers.google.com/webmasters/ajax-crawling/">Google's
						AJAX crawling policy</a> and are completely indexed by Google and
					other search engines.
				</p>
				<p>The web is a rapidly evolving marketplace and apps need
					constant updates to stay current. We offer several ongoing packages
					to give you peace of mind that we will be around to handle any of
					your future development needs!</p>
			</div>
			<div class="col-md-4 col-md-offset-1 shadow-boxing">
				<img src="images/launch.png" class="img-responsive"></img>
			</div>
		</div>
		<div class="row">
			<h1 class="dotted-underline col-md-12">Typical Engagement
				Packages</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="package-box">
					<h3>
						Re<strong>Fresh</strong><br /> <small>Transform your
							business</small>
					</h3>
					<i class="icon-fire icon-4x"></i>
					<ul class="list-group">
						<li class="list-group-item">Complete Design Overhaul</li>
						<li class="list-group-item">Transformation to Real-Time
							Components</li>
						<li class="list-group-item">Build for Search</li>
						<li class="list-group-item">Social Media Integration</li>
						<li class="list-group-item">Migration to Meteor</li>
					</ul>
					<button class="btn btn-default">Interested?</button>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="package-box blue-border">
					<h3>
						Amazing<strong>App</strong><br /> 
						<small>Build an app from scratch</small>
					</h3>
					<i class="icon-level-up icon-4x"></i>
					<ul class="list-group">
					    <li class="list-group-item">Our Proven <a href="/method">Method</a></li>
						<li class="list-group-item">User-Centered Design</li>
						<li class="list-group-item">Innovative Real-Time Capabilities</li>
						<li class="list-group-item">Built for Search</li>
						<li class="list-group-item">Social Media Integration</li>
						<li class="list-group-item">Launch Ready</li>
						<li class="list-group-item">Hosting and Maintenance</li>
					</ul>
					<button class="btn btn-default">Interested?</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package-box">
					<h3>
						Fancy<strong>Widget</strong><br /> 
						<small>Wow your users with a real-time component</small>
					</h3>
					<i class="icon-rocket icon-4x"></i>
					<ul class="list-group">
						<li class="list-group-item">Slots Into Your Systems</li>
						<li class="list-group-item">Cost-Effective Pizazz</li>
						<li class="list-group-item">Optional Software-as-a-Service</li>
						<li class="list-group-item">Optimise User Engagement</li>
						<li class="list-group-item">JavaScript Only</li>
					</ul>
					<button class="btn btn-default">Interested?</button>
				</div>
			</div>
		</div>
	</div>

	{{>footer}}
</div>
</template>